*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
a{
	text-decoration: none;
}
/*clearfixを追加*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


header{
	width: 100%;
	text-align: center;
	padding: 15px 0;	/*なんでmarginで空けたらいけない？*/
}
/*headerタグ内のheadlineクラスのみに反映*/
header .headline{
	font-size: 32px;
}
.nav-list{
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}


.main-visual{
	width: 100%;
	height: 300px;
	background-image: url(img/mv.jpg);
	background-size: cover;	/*画像の縦横比を維持したまま背景領域を埋める*/
	background-position: center;	/*画像背景を中央に配置*/
}
.main-visual-content{
	width: 40%;
	height: 300px;
	background-color: rgba(0,0,0,0.5);	/*背景色を半透明の黒にする*/
	text-align: center;
	padding-top: 105px;	/*上側の内側余白で垂直方向の位置を調整*/
}
.main-visual-text{
	color: #fff;
}
.main-visual-name{
	margin-top: 30px;
	color: #fff;
}


main{
	/*mainの領域がうまくできてない*/
	width: 800px;
	margin: 0 auto; /*中央よせ（余白がないとできない）*/
	padding: 70px 0;	/*内側に余白*/
}
.blog{
	width: 540px;
	float: left;　/*要素を左揃えで並ばせる*/
	margin-right: 30px;	/*領域の右側に余白*/
	}
.blog-headline{
	border-bottom: 8px solid #f7f7f7;
	text-align: center;
	line-height: 0.6;
}
.blog-box{
	padding-top: 50px;
}
.blog-item{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f7f7f7;
}
.blog-image{
	height: 180px;
	float: left;
}
.blog-text-headline{
	padding-bottom: 15px;
}
.blog-text{
	float: left;
	padding: 30px 0 0 25px;
}
.blog-date{
	font-size: 12px;
	display: inline-block;
}
.category{
	display: inline-block;
	padding: 5px 8px;
	background-color: #acabab;
	border-radius: 3px;	/* border-radius は領域の四角を丸にする*/
	color: #fff;
	font-size: 11px;
}
.pagination{
	text-align: center;
	padding-top: 50px;
}
.pagination p{
	/*paginationの中の要素なのでpaginaon pで指定できる
	header .headlineと同じ*/
	display: inline-block;
	/*inline-blockって何？*/
	width: 30px;
	height: 30px;
	color: #FFF;
	background-color: #acabab;
	border-radius: 3px;
	margin: 0 5px;	/*どこを指定してるの？→左右に5pxの余白*/
	line-height: 30px;	/*行の高さってどこ？*/
}

.sidebar{
	width: 230px;
	float: left; /*要素を左揃えで並ばせる*/
}
.sidebar-headline, .instagram-headline, .categories-headline{
	border-bottom: 8px solid#f7f7f7;
	text-align: center;
	line-height: 0.6;	/*これ何だっけ？*/
}
.sidebar-contents{
	padding: 50px 0;
}
.popular-text, .categories-text{
	padding-bottom: 5px;
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child{
	/*last-childは擬似クラスのこと
	要素が特定の状態になった場合のみ適用されるCSS
	今回の場合はpopular-textとcategories-textの
	最後に記述された要素にのみ適用される*/
	margin: 0;
	padding: 0;
	border: none;
}
.instagram-box{
	float: left;
	width: 110px;
	padding-top: 110px;
	background-size: cover;
	background-position: center;
	/*ここの指定はちょっと書いててわかんない*/
}
.instagram-box:nth-child(odd){
	margin: 0 10px 10px 0;
}
.instagram-box:nth-child(1){
	background-image: url(img/airport.jpg);
}
.instagram-box:nth-child(2) {
    background-image: url(img/japan.jpg);
}
.instagram-box:nth-child(3) {
    background-image: url(img/snow.jpg);
}
.instagram-box:nth-child(4) {
    background-image: url(img/japan2.jpg);
}
.instagram-box:nth-child(5) {
    background-image: url(img/lake.jpg);
}
.instagram-box:nth-child(6) {
    background-image: url(img/road.jpg);
}
/*nth-childは特定して擬似クラスを指定できる
例えは偶数、奇数、番号など
今回はoddがinstagram-boxの奇数に対しての指定
instagram-boxの各番号に対しての指定となっている*/


footer{
	width: 100%;
	height: 120px;
	text-align: center;
	padding: 50px 0;
	background-color: #848282;
}
.footer-text{
	color: #fff;
}